In [1]:
#Ques1

In [4]:
a = "rahul"
b = [1,2,3,4,5]
c = 2.2563
d = (1,2,3,4,5)

In [5]:
#Ques2

In [7]:
#(a) str
#(b) str
#(c) list
#(d) int

In [8]:
# Ques3

In [9]:
# (i) it is a division operator used to get the quotient wen we divide the dividend with the divisor.
# (ii) it is a modulo operator which gives us the remainder when we divide the dividend with the divisor.
# (iii) it is the floor division which gives us only the integer part of the quotient if the dividend is not completely divisible by the divisor.
# (iv) it is the power operator which gives us a raise power b if we write a**b .

In [10]:
# Ques4

In [11]:
lt = [1,"Rahul",456,4.236,2+3j,True,False,8,9,10]
for i in lt:
  print(i,type(i))

1 <class 'int'>
Rahul <class 'str'>
456 <class 'int'>
4.236 <class 'float'>
(2+3j) <class 'complex'>
True <class 'bool'>
False <class 'bool'>
8 <class 'int'>
9 <class 'int'>
10 <class 'int'>

In [12]:
# Ques5

In [13]:
a = int(input("Enter a number a"))
b = int(input("Enter a number b"))
if a%b==0:
  q = a/b
  print(f"a is divisible by b and {q} times")
else:
  print("a is not divisible by b")

Enter a number a10
Enter a number b2
a is divisible by b and 5.0 times

In [14]:
# Ques6

In [15]:
lt = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in lt:
  if i%3==0:
    print("divisible by 3")
  else:
    print("Not divisible by 3")

Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3

In [16]:
# Ques7

In [ ]:
# Mutable data types are those whose contents can be modified after creation, while immutable data types cannot be changed once they are created.
# for example
# list are mutable and tuple are immutable